<!--
  Generated template for the RegistrationTwo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>registrationTwo</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="inner_form_top">
        <ul>
            <li><span class="fnumber profileSpan">1</span><span class="ftext"></span></li>
            <li class="active"><span class="fnumber profileSpan">2</span></li>
            <li><span class="fnumber profileSpan">3</span></li>
            <li><span class="fnumber profileSpan">4</span></li>
        </ul>
        <div class="clr"></div>
    </div>
    <ion-list>
        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.relationshipStatus.errors && err.relationshipStatus.errors?.length != 0 }"
                 class="placeholder">{{ form.form.relationshipStatus.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.relationshipStatus.value">
                    <ion-option value="{{rs.value}}" *ngFor="let rs of form.form.relationshipStatus.choices">
                        {{rs.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.relationshipStatus.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.children.errors && err.children.errors?.length != 0 }"
                 class="placeholder">{{ form.form.children.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.children.value">
                    <ion-option value="{{child.value}}" *ngFor="let child of form.form.children.choices">
                        {{child.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.children.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.ethnicity.errors && err.ethnicity.errors?.length != 0 }"
                 class="placeholder">{{ form.form.ethnicity.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.ethnicity.value">
                    <ion-option value="{{ethnicity.value}}" *ngFor="let ethnicity of form.form.ethnicity.choices">
                        {{ethnicity.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.ethnicity.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.religion.errors && err.religion.errors?.length != 0 }"
                 class="placeholder">{{ form.form.religion.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.religion.value">
                    <ion-option value="{{ religion.value }}" *ngFor="let religion of form.form.religion.choices">
                        {{religion.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.religion.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.languages.errors && err.languages.errors?.length != 0 }"
                 class="placeholder">{{ form.form.languages.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.languages.value" multiple="true">
                    <ion-option value="{{ lang.value }}" *ngFor="let lang of form.form.languages.choices">
                        {{lang.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.languages.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.education.errors && err.education.errors?.length != 0 }"
                 class="placeholder">{{ form.form.education.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.education.value">
                    <ion-option value="{{ educ.value }}" *ngFor="let educ of form.form.education.choices">
                        {{educ.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.education.errors }}</div>
        </div>

        <div class="input text">
            <div [ngClass]="{'yellow-bg':  err.occupation.errors && err.occupation.errors?.length != 0 }"
                 class="placeholder">{{ form.form.occupation.label }}
            </div>

            <ion-item>
                <ion-input type="text" [(ngModel)]="form.form.occupation.value"></ion-input>
            </ion-item>
            <div class="err">{{ err.occupation.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.smoking.errors && err.smoking.errors?.length != 0 }" class="placeholder">
                {{ form.form.smoking.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.smoking.value">
                    <ion-option value="{{ smkg.value }}" *ngFor="let smkg of form.form.smoking.choices">{{smkg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.smoking.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.drinking.errors && err.drinking.errors?.length != 0 }"
                 class="placeholder">{{ form.form.drinking.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.drinking.value">
                    <ion-option value="{{ drkg.value }}" *ngFor="let drkg of form.form.drinking.choices">
                        {{drkg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.drinking.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.purposes.errors && err.purposes.errors?.length != 0 }"
                 class="placeholder">{{ form.form.purposes.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.purposes.value" multiple="true">
                    <ion-option value="{{ here_f.value }}" *ngFor="let here_f of form.form.purposes.choices">
                        {{here_f.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.purposes.errors }}</div>
        </div>

        <div class="input" *ngIf="form.form.status">
            <div [ngClass]="{'yellow-bg':  err.status.errors && err.status.errors?.length != 0 }" class="placeholder">{{
                form.form.status.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.status.value">
                    <ion-option value="{{ status.value }}" *ngFor="let status of form.form.status.choices">
                        {{status.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.status.errors }}</div>
        </div>

        <div class="input" *ngIf="form.form.netWorth">
            <div [ngClass]="{'yellow-bg':  err.netWorth.errors && err.netWorth.errors?.length != 0 }"
                 class="placeholder">{{ form.form.netWorth.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.netWorth.value">
                    <ion-option value="{{ netWorth.value }}" *ngFor="let netWorth of form.form.netWorth.choices">
                        {{netWorth.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.netWorth.errors }}</div>
        </div>


        <div class="input" *ngIf="form.form.income">
            <div [ngClass]="{'yellow-bg':  err.income.errors && err.income.errors?.length != 0 }" class="placeholder">{{
                form.form.income.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.income.value">
                    <ion-option value="{{ income.value }}" *ngFor="let income of form.form.income.choices">
                        {{income.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.income.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.height.errors && err.height.errors?.length != 0 }" class="placeholder">{{
                form.form.height.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.height.value">
                    <ion-option value="{{ hght.value }}" *ngFor="let hght of form.form.height.choices">{{hght.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.height.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.body.errors && err.body.errors != 0 }" class="placeholder">{{
                form.form.body.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.body.value">
                    <ion-option value="{{ body_t.value }}" *ngFor="let body_t of form.form.body.choices">
                        {{body_t.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.body.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.eyes.errors && err.eyes.errors?.length != 0 }" class="placeholder">{{
                form.form.eyes.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.eyes.value">
                    <ion-option value="{{ eye_c.value }}" *ngFor="let eye_c of form.form.eyes.choices">{{eye_c.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.eyes.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.hair.errors && err.hair.errors?.length != 0 }" class="placeholder">{{
                form.form.hair.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.hair.value">
                    <ion-option value="{{ hair_c.value }}" *ngFor="let hair_c of form.form.hair.choices">
                        {{hair_c.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.hair.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err.features.errors && err.features.errors?.length != 0 }"
                 class="placeholder">{{ form.form.features.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form.form.features.value" multiple="true">
                    <ion-option value="{{ spec_f.value }}" *ngFor="let spec_f of form.form.features.choices">
                        {{spec_f.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err.features.errors }}</div>
        </div>
        <div *ngFor="let key of errKeys">
            <div *ngIf="err[key].errors" class="err">{{ form.form[key]?.label }}: {{ err[key].errors
                }}
            </div>
        </div>
            <button right color="danger" (click)="formSubmit(form)" full ion-button>{{form.form.submit}}
            </button>

    </ion-list>

</ion-content>

