<!--
  Generated template for the Inbox page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>inbox</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="no_results" *ngIf="users?.length == 0">{{ texts?.no_results }}</div>
<ion-card tappable *ngFor="let user of users" (click)="toDialogPage(user)">
  <ion-card-content >
  <div class="usr_img" *ngIf="user.faceWebPath" [ngStyle]="{ 'background-image': 'url(' + api.url + user.faceWebPath + ')'}" ></div>
  <div class="usr_img" *ngIf="user.noPhoto" [ngStyle]="{ 'background-image': 'url(' + api.url  + user.noPhoto + ')'}" ></div>
    <ion-card-title>
      <div class="name">{{ user.username }}</div>
      <div class="date">{{ user.date }}</div>
    </ion-card-title>
    <div class="message">
    <p>
      {{ user.message }}
    </p>
      <div class="counter" *ngIf="user.newMessagesNumber > 0" >{{ user.newMessagesNumber }}</div>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>
<ion-footer>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-footer>
