page-search {

	.bteween {
		display: inline-block;
	    vertical-align: top;
	    text-align: center;
	    padding: 0 5.4%;
	    line-height: 29px;
	}

	.adv-search {
		background: #bfbaac;
	}

	.select-text {
		margin-top: 16px;
	}
}
